header {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	height: 8.8rem;
	border-bottom: 2px solid rgba(255, 255, 255, 0.2);
	.container {
		@include flex(row, center, space-between);
		nav {
			@include flex(row, center, space-between);
			ul {
				margin-right: 6rem;
				display: flex;
				li {
					&:not(:first-child) {
						padding-left: 4.8rem;
					}
					a {
						font-family: 'Poppins', sans-serif;
						font-weight: 500;
						font-size: 1.6rem;
						line-height: 125%;
						color: #ffffff;
						transition: all 0.3s ease;
						&:hover {
							color: $brand-yellow;
						}
					}
				}
			}
		}
	}
}
